@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;

  --font-sans: var(--font-inter-sans), Arial, Helvetica, sans-serif;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
}

::view-transition-new(.tab-transition-right) {
  animation: slide-in-right 0.3s ease-in-out;
}

::view-transition-new(.tab-transition-left) {
  animation: slide-in-left 0.3s ease-in-out;
}

@keyframes slide-in-right {
  from {
    transform: translateX(-90%);
  }
  to {
    transform: translateX(0);
  }
}

@keyframes slide-in-left {
  from {
    transform: translateX(90%);
  }
  to {
    transform: translateX(0);
  }
}

::view-transition-old(.fade-in) {
  animation: fade-out 0.3s ease-in-out;
}

::view-transition-new(.fade-in) {
  animation: fade-in 0.3s ease-in-out;
}

@keyframes fade-out {
  from {
    opacity: 1;
    transform: translateY(0);
  }
  to {
    opacity: 0;
    transform: translateY(-10px);
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
